<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appsforgood">

    <application
        android:name=".Controller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InstructionsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".SuddenDeathCorrect"
            android:screenOrientation="portrait"/>
        <activity android:name=".SuddenDeathActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LegislativeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DifficultyPicker"
            android:screenOrientation="portrait"/>
        <activity android:name=".ScoreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuizViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Correct"
            android:screenOrientation="portrait"/>
        <activity android:name=".Bills"
            android:screenOrientation="portrait"/>
        <activity android:name=".LearnActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RepCollage"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>